<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<string>219</string>
	<key>angleVariance</key>
	<real>360</real>
	<key>blendFuncDestination</key>
	<integer>771</integer>
	<key>blendFuncSource</key>
	<integer>770</integer>
	<key>duration</key>
	<string>-1.000</string>
	<key>emitterType</key>
	<string>0</string>
	<key>finishColorAlpha</key>
	<string>1.000</string>
	<key>finishColorBlue</key>
	<real>1</real>
	<key>finishColorGreen</key>
	<real>1</real>
	<key>finishColorRed</key>
	<real>1</real>
	<key>finishColorVarianceAlpha</key>
	<real>0.0</real>
	<key>finishColorVarianceBlue</key>
	<real>1</real>
	<key>finishColorVarianceGreen</key>
	<real>1</real>
	<key>finishColorVarianceRed</key>
	<real>1</real>
	<key>finishParticleSize</key>
	<string>178</string>
	<key>finishParticleSizeVariance</key>
	<string>158</string>
	<key>gravityx</key>
	<string>0</string>
	<key>gravityy</key>
	<string>0</string>
	<key>maxParticles</key>
	<string>5.92</string>
	<key>maxRadius</key>
	<string>200</string>
	<key>maxRadiusVariance</key>
	<string>30.00</string>
	<key>minRadius</key>
	<string>100</string>
	<key>particleLifespan</key>
	<real>2</real>
	<key>particleLifespanVariance</key>
	<string>0.00</string>
	<key>radialAccelVariance</key>
	<string>16.00</string>
	<key>radialAcceleration</key>
	<string>174.79</string>
	<key>rotatePerSecond</key>
	<string>30</string>
	<key>rotatePerSecondVariance</key>
	<string>36</string>
	<key>rotationStart</key>
	<string>0</string>
	<key>sourcePositionVariancex</key>
	<real>7</real>
	<key>sourcePositionVariancey</key>
	<real>7</real>
	<key>sourcePositionx</key>
	<real>160</real>
	<key>sourcePositiony</key>
	<real>222</real>
	<key>speed</key>
	<string>10.08</string>
	<key>speedVariance</key>
	<string>19.69</string>
	<key>startColorAlpha</key>
	<real>0.0</real>
	<key>startColorBlue</key>
	<real>1</real>
	<key>startColorGreen</key>
	<real>0.0</real>
	<key>startColorRed</key>
	<real>0.0</real>
	<key>startColorVarianceAlpha</key>
	<real>0.0</real>
	<key>startColorVarianceBlue</key>
	<real>1</real>
	<key>startColorVarianceGreen</key>
	<real>1</real>
	<key>startColorVarianceRed</key>
	<real>1</real>
	<key>startParticleSize</key>
	<string>355</string>
	<key>startParticleSizeVariance</key>
	<string>256</string>
	<key>tangentialAccelVariance</key>
	<string>406.10</string>
	<key>tangentialAcceleration</key>
	<string>390.85</string>
	<key>textureFileName</key>
	<string>snow.png</string>
</dict>
</plist>
